.jumbotron .img{
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000 url("http://localhost:8080/SpringApp/images/censis_hp.jpg") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

.jumbotron {
    position:relative;
    border-left: 0rem;
    width: 100%;
    height: 100%;
  }

.container1{
    margin-right: 1rem;
    margin-left: 1rem;
}

.p1{
    margin-left: 2rem;
    margin-right: 2rem;
}

.card1 {
    width: 97%;
    height: 20rem;
    align-self: center; 
    border-color:darkgray;
    box-shadow: 10px 10px 5px #aaaaaa; 
    background-image: url("http://localhost:8080/SpringApp/images/teacherhome.jpg");
 }

 .card2 {
    width: 100%;
   align-self: center; 
   border-color:darkgray;
   box-shadow: 10px 10px 5px #aaaaaa; 
   background-image: url("http://localhost:8080/SpringApp/images/background.jpg");
}

.footer {
    background: black !important;
    padding-bottom: 30px;

}