<div class="jumbotron">
  <div class="container1">
    <h1 class="display-3">Staff Area</h1>
    <p></p>
  </div>
</div>


<h3>Segnalazioni recenti</h3>
<div class="container1">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Data</th>
      <th scope="col">Titolo</th>
      <th scope="col">Aula</th>
      <th scope="col">Cognome Docente</th>
      <th scope="col">Nome Docente</th>
      <th scope="col">Stato</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of tickets;let i = index;"> 
      <td> {{ t.id }} </td>
      <td> {{ t.date }} </td> 
      <td> {{ t.title }} </td>
      <td> {{ t.classroom.name }} </td>
      <td> {{ t.teacher.surname }} </td> 
      <td> {{ t.teacher.name }} </td> 
      <td> {{ t.status.description }} </td>
      <td><a routerLink="ticket/{{t.id}}"><img src="http://localhost:8080/SpringApp/images/view.png" alt="Visualizza" height="30" width="30" onclick="" /></a></td>
      
    </tr>	
  </tbody>
</table>

</div>
