
<nav *ngIf="nav.homeVisible"class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"><b>Portale universitario</b><span class="sr-only">(current)</span></a>
        </li>
  
      </ul> 
  
  <form class="form-inline my-2 my-lg-0">
      <div>
        <input type="text" name="email" class="form-control" placeholder="Email" #email>
      </div>
      <div style="margin-left: 3px">
        <input type="password" name="password" class="form-control" placeholder="Password" #password>
      </div>
    <button (click)="signInUser(email.value, password.value)" class="btn btn-success"  style="margin-left: 3px">Login</button>
  </form>
    </div>
  </nav>

  <nav *ngIf="nav.staffVisible" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">     
          <a class="nav-link" href="/staff" style="color: #ffffff;">Ciao {{ user?.name }}<span class="sr-only">(current)</span></a>
        </li>
        
         <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Corsi di Laurea</a>
              <div  class="dropdown-menu" >
               
                <a class="dropdown-item" href="/staff/newcourse">Inserisci Nuovo Corso</a>
                <a class="dropdown-item" href="/staff/newcoursetype">Inserisci Nuovo Tipo di Corso</a>
              </div>
            </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Calendario Didattico</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/staff/department">Gestisci Dipartimento</a>
                <a class="dropdown-item" href="/staff/calendar">Gestisci Calendario Lezioni</a>
                <a class="dropdown-item" href="/staff/editcalendar">Modifica Lezione</a>
                <a class="dropdown-item" href="/staff/examcalendar">Gestisci Calendario Esami</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Insegnamenti</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">  
                    <a class="dropdown-item" href="/staff/newsubject">Inserisci Nuovo Insegnamento</a>
                    <a class="dropdown-item" href="/staff/newsubjecttype">Inserisci Nuovo Tipo di Insegnamento</a>
                </div>
              </li>
        <li class="nav-item active">
          <a class="nav-link" href="/staff/tickets">Segnalazioni<span class="badge badge-light">{{staffbadge}}</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/staff/academicYears">Gestisci Anno Accademico<span class="sr-only">(current)</span></a>
        </li>
      </ul>
         
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Logout</button>
   
    </div>
  </nav>

  <nav *ngIf="nav.teacherVisible" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          
          <li class="nav-item active">
            <a class="nav-link">Ciao {{ user.name }}<span class="sr-only">(current)</span></a>
          </li>
        
         <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Insegnamenti</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a *ngFor="let s of subjects; let s = index;" class="dropdown-item" [routerLink]="['/teacher/subjects', s.id]" [skipLocationChange]="true">{{s.name}}</a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/teacher/exams">Esami<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Calendario Didattico<span class="sr-only">(current)</span></a>
            </li>
              
            
        <li class="nav-item active">
          <a class="nav-link" href="teacher/tickets">Segnalazioni<span class="badge badge-light">{{teacherbadge}}</span></a>
        </li>
      </ul>
         
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Logout</button>
   
    </div>
  </nav>

 