.card1{
    width: 100%;
    align-self: center; 
    border-color:darkgray;
    box-shadow: 10px 10px 5px #aaaaaa; 
    background-image: url(http://localhost:8080/SpringApp/images/background.jpg);
}
