<div *ngIf="!nextPage" class="card card-body mb-3 bg-transparent" style="padding-top: 70px; border: transparent">
  <div class="card card-body mb-3 card1">
  <h3 style="color: white">Inserisci Dati Corso</h3>
    <form style="color: white">
        <div class="form-group row">
            <label for="laurea" class="col-sm-2 col-form-label">Laurea</label>
            <div class="col-sm-10">
              <select class="custom-select mr-sm-2" name="course" #idcourseType (change)="onChange($event, idcourseType.value)">
                <option value=0>Seleziona Categoria Di Corso di Laurea</option>
                <option *ngFor="let c of courseTypes; let i = index" [value]="c.idcourseType">{{ c.description }}</option>
              </select>
            </div>
        </div>
        <div class="form-group row">
          <label for="nome" class="col-sm-2 col-form-label">Nome Corso</label>
          <div class="col-sm-10">
            <select class="custom-select mr-sm-2" name="nome" #idtypeDegreeCourse>
              <option value=0>Seleziona Tipo di Corso di Laurea</option>
              <option *ngFor="let d of degreeCourseTypes; let d = index" [value]="d.idtypeDegreeCourse">{{ d.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="academicyear" class="col-sm-2 col-form-label">Anno Accademico</label>
          <div class="col-sm-10">
          <select class="custom-select mr-sm-2" name="year" #academicyear>
            <option value=0>Seleziona Anno Accademico</option>
            <option *ngFor="let a of academicyears; let a = index" [value]="a.idacademicYear">{{ a.year }}/{{ a.year + 1 }}</option>
          </select>
        </div>
      </div>
      
        <div class="form-group row">
          <div class="col-sm-12">
            <button type="button" class="btn btn-success float-right" (click)="showSubjectList(idcourseType.value, idtypeDegreeCourse.value, academicyear.value)">Avanti</button>
          </div>
        </div>
    


<div *ngIf="showSubjects">
        <h3>Seleziona Insegnamenti</h3>
        <h5> Cfu da assegnare rimanenti: {{ remainingcfus }} </h5>
        <br>
        <form>
            <div *ngFor="let s of typeSubjects; let s = index" class="form-group row">
                <div class="col-sm-3">
                   
                        <label class="form-check-label">
                            <b>{{ s.name }}</b>
                            
                        </label>
                      </div>
                  
                <div class="col-sm-2">
                   
                    <select class="custom-select mr-sm-2" name="teacher" #teacher>
                        <option value=0>Seleziona Docente</option>
                        <option *ngFor="let t of teachers; let t = index" [value]="t.idteacher">{{ t.surname }} {{ t.name }}</option>
                      </select>
                
                </div>
                <div class="col-sm-2">
                   
                  <select class="custom-select mr-sm-2" name="term" #term>
                      <option value=0>Seleziona Periodo</option>
                      <option *ngFor="let p of terms; let i = index" [value]="p.idterm" #term>{{i+1}}</option>
                    </select>
              
              </div>
                <div class="col-sm-2">
                    <input type="number" id="cfu" class="form-control" placeholder="Cfu" #cfu>
                  </div>
                  <div class="col-sm-1.5">
                    <button type="button" class="btn btn-outline-success my-2 my-sm-0" (click)="add(s, cfu.value, teacher.value, term.value)">Aggiungi</button>
                  </div>
                    <div class="col-sm-1.5">
                    <button type="button" class="btn btn-outline-danger my-2 my-sm-0 float-right" (click)="remove(s, cfu.value)" >Rimuovi</button>
                  </div>
                
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                  <button type="button" class="btn btn-success float-right" (click)="save(idcourseType.value, idtypeDegreeCourse.value, academicyear.value)">Salva Corso</button>
                </div>
              </div>
          </form>
        </div>
    
        </form>
     
</div>
</div>


<div class="footer" style="margin-left: 0px; margin-right: 0px; margin-top: 200px">
  <p style="text-align: center"><b>&copy;Portale Universitario</b></p>
  <p style="text-align: center"><b>Progetto Software Engineering 2017/2018</b></p>
</div>