<main role="main">

    <div class="jumbotron">
        <div class="img"></div>
      <div class="container1">
        <h1 class="display-3">Benvenuto nel Portale Universitario!</h1>
        <p class="p1">Quest'area è accessibile solo dal personale di segreteria e dai docenti.</p>
      </div>
    </div>

    <div class="card card-body mb-3 bg-transparent">
      
          <div class="col-md-12">
            <h2 class="section-heading">Sei uno Studente o un Docente?</h2>
            <p>Scarica l'app qui!</p>
      
  
        </div>
      </div>


</main>


