<main role="main">

    <div class="jumbotron">
        <div class="img"></div>
      <div class="container1">
        <h1 class="display-3">Benvenuto nel Portale Universitario!</h1>
        <p class="p1">Quest'area è accessibile solo dal personale di segreteria e dai docenti.</p>
      </div>
    </div>

    <div class="container4">
      
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Sei uno Studente o un Docente?</h2>
            <p>Scarica l'app!</p>
            <div class="badges">
              <a class="badge-link" href="#"><img src="" alt=""></a>
              <a class="badge-link" href="#"><img src="" alt=""></a>
            </div>
  
        </div>
      </div>


</main>


