<main role="main">

    <div class="jumbotron">
        <div class="img"></div>
      <div class="container1">
        <h1 class="display-3">Benvenuto nel Portale Universitario!</h1>
        <p class="p1">Quest'area è accessibile solo dal personale di segreteria e dai docenti.</p>
      </div>
    </div>


    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-6">
          <img class="rounded-circle" src="http://localhost:8080/SpringApp/images/exam.png" alt="Generic placeholder image" width="150" height="150">
          <h2>Staff</h2>
          <p>Accedi per gestire i corsi di Laurea, il calendario didattico e le segnalazioni.</p>
          <p><a class="btn btn-secondary" href="#" role="button">Login</a></p>
        </div><!-- /.col-lg-4 -->
     
        <div class="col-lg-6">
          <img class="rounded-circle" src="http://localhost:8080/SpringApp/images/education.png" alt="Generic placeholder image" width="150" height="150">
          <h2>Docente</h2>
          <p>Accedi per gestire  gli insegnamenti, il materiale didattico o per effettuare segnalazioni.</p>
          <p><a class="btn btn-secondary" href="#" role="button">Login</a></p>
        </div><!-- /.col-lg-4 -->
       
      </div><!-- /.row -->
    </div>
</main>


  

  <footer class="container3">
    <p>&copy; Copyright 2018</p>
  </footer>


  <div>Icons made by <a href="https://www.flaticon.com/authors/geotatah" title="geotatah">geotatah</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/zlatko-najdenovski" title="Zlatko Najdenovski">Zlatko Najdenovski</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>