.p1{
    margin-left: 0.2rem;
    color: white;
}
.container1{
    margin-right: 2rem;
    margin-left: 2rem;
}

.container3{
    text-align: right;
    margin-right: 0.5rem;
}






.footer {
    padding-bottom: 30px;

}

.card2 {
    width: 100%;
   align-self: center; 
   border-color:darkgray;
   box-shadow: 10px 10px 5px #aaaaaa; 
    
}

.card1 {
    width: 100%;
    height: 20rem;
    align-self: center; 
    border-color:darkgray;
    box-shadow: 10px 10px 5px #aaaaaa; 

    top:0;
    left:0;
    z-index:0;
 }

 