<div class="card card-body mb-3 bg-transparent" style="padding-top: 70px; border: transparent">
  <div class="card card-body mb-3 bg-transparent">
    <h3>Anni Accademici:</h3>
    <table id="elencoanni" class="table table-bordered dt-responsive" cellspacing="0" width="100%">                                       
      <thead>
          <tr bgcolor="#cccccc">
            
              <th style="text-align:center">Anni</th>
              <th style="text-align:center">Peirodi</th>

          </tr>
      </thead>
      <tbody>                                                                                         
        <tr *ngFor="let a of academicyears; let a = index" > 
         
          <td style="text-align:center"> {{a.year}}/{{a.year+1}} </td>
          <td style="text-align:center"> <button type="button" class="btn btn-primary" (click)=dettagli(a)>
           Visualizza
          </button></td>
        </tr>
      </tbody>
  </table>

    <div class="col-sm-14">
      <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#datamodal">
          Apri Nuovo Anno Accademico
        </button>
      </div>

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="datamodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inserisci Dati</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <form>
                      <div class="form-row">
                       
                        <label for="nome">Anni </label>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-2">
                            <input type="year" class="form-control" id="year" #year (change)=onchange(year.value) >
                          </div>
                          <div class="form-group col-md-2">
                            <input type="year" class="form-control" value={{years}} id="year">
                          </div>
                        </div>
                    
                    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
        <button type="button" class="btn btn-success"  data-dismiss="modal" (click)=saveYear(year.value)>Salva</button>
      </div>
    </div>
  </div>
</div>



