<div class="card card-body mb-3 bg-transparent" style="padding-top: 70px; border: transparent">
  <div class="row">
 
  <div class="card card-body mb-3"  style="border-color:darkgray;
  box-shadow: 10px 10px 5px #aaaaaa;  background-image: linear-gradient(rgba(73, 146, 73, 0.699), rgba(188, 241, 188, 0.863) );">
    <h3>Anni Accademici:</h3>
    <table *ngIf="tableVisible" id="elencoanni" class="table table-hover dt-responsive"  cellspacing="0" width="100%">                                       
      <thead>
          <tr>
            
              <th style="text-align:center;">Anni</th>
              <th style="text-align:center">Dettagli</th>

          </tr>
      </thead>
      <tbody>                                                                                         
        <tr *ngFor="let a of academicyears; let a = index" > 
         
          <td style="text-align:center"> {{a.year}}/{{a.year+1}} </td>
          <td style="text-align:center"> <button type="button" class="btn btn-success" (click)=dettagli(a)>
           Visualizza
          </button></td>
        </tr>
      </tbody>
  </table>


</div>
</div>
<div class="col-md-12">
<button type="button" class="btn btn-success float-right"  data-toggle="modal" data-target="#datamodal">
        Apri Nuovo Anno Accademico
      </button>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="datamodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inserisci Dati</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <form>
                      <div class="form-row">
                       
                        <label for="nome">Anni </label>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-2">
                            <input type="year" class="form-control" id="year" #year (change)=onchange(year.value) >
                          </div>
                          <div class="form-group col-md-2">
                            <input type="year" class="form-control" value={{years}} id="year">
                          </div>
                        </div>
                    
                    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
        <button type="button" class="btn btn-success"  data-dismiss="modal" (click)=saveYear(year.value)>Salva</button>
      </div>
    </div>
  </div>
</div>


<div class="footer" style="margin-left: 0px; margin-right: 0px; margin-top: 200px">
  <p style="text-align: center"><b>&copy;Portale Universitario</b></p>
  <p style="text-align: center"><b>Progetto Software Engineering 2017/2018</b></p>
</div>
