<div class="card card-body mb-3 bg-transparent" style="padding-top: 70px; border: transparent">
  <div *ngIf="showterms" class="card card-body mb-3"  style="border-color:darkgray;
  box-shadow: 10px 10px 5px #aaaaaa;  background-image: linear-gradient(rgba(73, 146, 73, 0.699), rgba(188, 241, 188, 0.863) );">
      <h3>Periodi Anno Accademico {{academicyears[0]?.year}}/{{academicyears[0]?.year + 1}}</h3>
      <table id="terms" class="table table-hover dt-responsive" cellspacing="0" width="100%">                                       
        <thead>
            <tr>
              
                <th style="text-align:center">Periodo</th>
                <th style="text-align:center">Data inizio</th>
                <th style="text-align:center">Data fine</th>
  
            </tr>
        </thead>
        <tbody>                                                                                         
          <tr *ngFor="let t of terms; let i = index" > 
           
            <td style="text-align:center"> {{ i+1 }} </td>
            <td style="text-align:center"> {{ t.start |  date : shortDate  }} </td>
            <td style="text-align:center"> {{ t.end | date : shortDate }} </td>
          </tr>
        </tbody>
    </table>
    <br>
    <h3>Corsi Attivi per l'Anno Accademico {{academicyears[0]?.year}}/{{academicyears[0]?.year + 1}}</h3>
    <table id="courses" class="table table-hover dt-responsive" cellspacing="0" width="100%">                                       
        <thead>
            <tr>
              
                <th style="text-align:center">Nome</th>
                <th style="text-align:center">Numero Iscritti</th>
                
  
            </tr>
          </thead>
          <tbody>                                                                                         
            <tr *ngFor="let c of coursesofthisyear; let c = index" > 
             
              <td style="text-align:center"> {{ c.name }} </td>
              <td style="text-align:center"> {{ c  }} </td>
           
            </tr>
          </tbody>
      </table>
  </div>
  <div *ngIf="!showterms" class="card card-body mb-3"  style="border-color:darkgray;
  box-shadow: 10px 10px 5px #aaaaaa;  background-image: linear-gradient(rgba(73, 146, 73, 0.699), rgba(188, 241, 188, 0.863) );">
      <h3>Periodi Anno Accademico {{academicyears[0].year}}/{{academicyears[0].year + 1}}:</h3>
      <p>Non ancora definiti</p>
      <div class="col-sm-14">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#termsmodal">
          Definisci Periodi
         </button>
      </div>
  </div>
  </div>




<!-- Modal -->
<div class="modal fade" id="termsmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Definisci Periodi A.A. {{academicyears[0].year}}/{{academicyears[0].year + 1}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <form>
                          
                            <div *ngFor="let n of numbers">
                            <div class="form-row">
                                <label for="nome">Data inizio e fine</label>
                                </div>
                                <div class="form-row">
                                <div class="form-group col-md-5">
                                    <input type="date" class="form-control"id="startdate" #startdate (change)="updatestart(startdate.value,enddate.value)">
                                  </div>
                            <div class="form-group col-md-5">
                              <input type="date" class="form-control"id="enddate" #enddate (change)="updateend(startdate.value, enddate.value)">
                            </div>

                            <div class="col-md-2">
                              <button type="button" class="btn btn-outline-danger my-2 my-sm-0" (click)="removerow(startdate.value, enddate.value)">Rimuovi</button>
                            </div>

                          </div>
                         </div>
                        <br>
                        <div class="form-row">
                          <button type="button" class="btn btn-outline-success my-2 my-sm-0 float-right" (click)="addrow()">Aggiungi</button>
                        </div>
                          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
          <button type="button" class="btn btn-success"  data-dismiss="modal" (click)="save()">Salva</button>
        </div>
         
    
      </div>
    </div>
  </div>
  
  