<link href="https://unpkg.com/bootstrap-css-only@4.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="https://unpkg.com/angular-calendar@0.26.4/css/angular-calendar.css" rel="stylesheet">
<link href="https://unpkg.com/flatpickr@4.5.2/dist/flatpickr.css" rel="stylesheet">

<div *ngIf="!schedule" class="card card-body mb-3 bg-transparent" style="padding-top: 70px; border: transparent">
  <div class="card card-body mb-3 bg-transparent" style="border-color: lightgrey; box-shadow: 10px 10px 5px #aaaaaa;">
  <h3>Scegli il Corso</h3>
    <form>
        <div class="form-group row">
            <label for="laurea" class="col-sm-3 col-form-label">Laurea</label>
            <div class="col-sm-9">
              <select class="custom-select mr-sm-2" name="course" #courseType [(ngModel)]="selectedCourseType" (change)="onChange($event)">
                <option [ngValue]="undefined">Seleziona Categoria Di Corso di Laurea</option>
                <option *ngFor="let c of courseTypes; let i = index" [ngValue]="c">{{ c.description }}</option>
              </select>
            </div>
        </div>
        <div class="form-group row">
          <label for="nome" class="col-sm-3 col-form-label">Nome Corso</label>
          <div class="col-sm-9">
            <select class="custom-select mr-sm-2" name="nome" #typeDegreeCourse [(ngModel)]="selectedTypeDegreeCourse" (change)="onChangeTypeCourse($event)">
              <option [ngValue]="undefined">Seleziona Tipo di Corso di Laurea</option>
              <option *ngFor="let d of degreeCourseTypes; let d = index" [ngValue]="d">{{ d.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="academicyear" class="col-sm-3 col-form-label">Seleziona il corso</label>
          <div class="col-sm-9">
          <select class="custom-select mr-sm-2" name="nome" #course [(ngModel)]="selectedCourse" (change)="onChangeCourse($event)">
            <option [ngValue]="undefined">Seleziona il corso</option>
            <option *ngFor="let d of courses; let d = index" [ngValue]="d">{{ d.name }}</option>
          </select>
        </div>
        </div>
        <div class="form-group row">
            <label for="term" class="col-sm-3 col-form-label">Seleziona l'Anno Accademico</label>
            <div class="col-sm-9">
            <select class="custom-select mr-sm-2" name="year" #year [(ngModel)]="selectedYear" (change)="onChangeYear($event)">
              <option [ngValue]="undefined">Seleziona l'Anno Accademico</option>
              <option *ngFor="let a of aa; let a = index" [ngValue]="a">{{ a.year }}/{{ a.year+1 }}</option>
            </select>
          </div>
          </div>
        <div class="form-group row">
          <label for="term" class="col-sm-3 col-form-label">Seleziona il periodo</label>
          <div class="col-sm-9">
          <select class="custom-select mr-sm-2" name="term" [(ngModel)]="selectedTerm" #term>
            <option [ngValue]="undefined">Seleziona il periodo</option>
            <option *ngFor="let t of terms; let i = index" [ngValue]="t">Periodo {{ i+1 }}</option>
          </select>
        </div>
        </div>
      
        <div class="form-group row">
          <div class="col-sm-12">
            <button type="button" class="btn btn-success float-right" (click)="showScheduler()">Avanti</button>
          </div>
        </div>
    
        </form>
     
</div>
</div>

<div *ngIf="schedule" class="card card-body mb-3 bg-transparent" style="padding-top: 70px; border: transparent">
  <div class="card card-body mb-3 bg-transparent" style="text-align:center; border-color: lightgrey; box-shadow: 10px 10px 5px #aaaaaa;">
    <div>
    <ng-template #modalContent let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">Inserisci esame</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Insegnamento:
            <select class="form-control" name="subject" (change)="onChangeSubject($event, subject.value, modalData?.event)" #subject>
              <option value="">Insegnamento</option>
            <option *ngFor="let s of mySubjects; let index = index" [value]="index" [selected]="s.id==selectedSubject.id">{{s.name}}</option>
          </select>
          Tipo di esame:
            <select class="form-control" name="examtype" (change)="onChangeExamType($event, type.value, modalData?.event)" #type>
              <option value="">Tipo di esame</option>
            <option *ngFor="let t of examTypes; let index = index" [value]="index" [selected]="t.idexamType==selectedExamType.idexamType">{{t.description}}</option>
          </select>
          Edificio:
          <select class="form-control" name="building" (change)="onChangeBuild($event, building.value, modalData?.event)" #building>
            <option value="">Edificio</option>
          <option *ngFor="let b of buildings; let index = index" [value]="index" [selected]="b.id == modalData?.event?.room?.building?.id">{{b.name}}</option>
        </select>
        Aula:
        <select class="form-control" name="classroom" (change)="onChangeClass($event, classroom.value)" #classroom>
            <option value="">Aula</option>
            <option *ngFor="let c of classes; let index = index" [value]="index" [selected]="c.id == modalData?.event?.room?.id">{{c.name}}</option>
          </select>
        Orario:
        <input class="form-control" style="width: 15%" type="time" name="usr_time" (change)="onChangeTime($event, time.value)" value="{{selectedTime}}" #time>
      </div>
      <div *ngIf="!valid">
          <p><font color="red">&nbsp;Tutti i campi sono necessari!</font></p>
      </div>
    </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-success" (click)="save(modalData?.event)">Salva</button>
          <button type="button" class="btn btn-outline-danger" (click)="close()">Chiudi</button>
      </div>
    </ng-template>
    </div>
    
    
    <div class="row text-center">
      <div class="col-md-12">
        <h3>Calendario esami</h3>
        <h5>{{ this.selectedCourse.name }}</h5>
        <h6>A.A. {{ this.selectedYear.year }}/{{ this.selectedYear.year+1 }} - Periodo dal {{ this.selectedTerm.start | date:'dd-MM-yyyy' }} al {{ this.selectedTerm.end | date:'dd-MM-yyyy' }}</h6>
      </div>
    </div>

    <br>


    <div class="row">
      <div class="col-md-9" style="text-align: left; border: 1px solid #dfdfdf; border-radius: 8px; padding: 3%">
      <div class="col-md-12">
          <div class="row text-center" style="align-content: center; margin: auto; display: block;">
              <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'it' }}</h3>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4" style="text-align: left;">
                <div class="btn-group">
                  <div
                    class="btn btn-success"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="activeDayIsOpen = false">
                    Precedente
                  </div>
                  <div
                    class="btn btn-outline-success"
                    mwlCalendarToday
                    [(viewDate)]="viewDate">
                    Corrente
                  </div>
                  <div
                    class="btn btn-success"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="activeDayIsOpen = false">
                    Prossimo
                  </div>
                </div>
              </div>
              </div>
        <div [ngSwitch]="view">
          <mwl-calendar-week-view
            *ngSwitchCase="CalendarView.Week"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [locale]="locale"
            [dayStartHour] = "8"
            [dayEndHour] = "19"
            [daysInWeek] = "6"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-week-view>
          <mwl-calendar-month-view
            *ngSwitchCase="CalendarView.Month"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [locale]="locale"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="handleDay('Clicked', $event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-month-view>
        </div>
      </div>
      </div>
      <div class="col-md-3">
          <table class="table table-bordered" style="width: 50%">
          
              <thead>
                <tr>
                  <th> </th>
                  <th>Insegnamento</th>
                </tr>
              </thead>
            
              <tbody>
                <tr *ngFor="let s of mySubjects">
                  <td>
                    <input type="color"
                      [(ngModel)]="s.color.primary"
                      (change)="refresh.next()">
                  </td>
                  <td>
                    <label>{{s.name}}</label>
                  </td>
                </tr>
              </tbody>
            
            </table>
        </div>
    </div>

<br>
<div class="form-group row">
    <div *ngIf="error">
        <p><font color="red">&nbsp;Completa tutti i campi!</font></p>
    </div>
    <div class="col-sm-12">
      <button type="button" class="btn btn-danger float-left" (click)="back()">Indietro</button>
      <button type="button" class="btn btn-success float-right" (click)="saveScheduler()">Salva</button>
    </div>
  </div>
</div>
</div>




  