
<title>Gestisci Dipartimento</title>
<div class="container">
    <div class="row">
    <ng-container *ngFor="let b of buildings;">
        <div class="card_main_container">
                <div class="example-2 card_main">
                    <div class="wrapper">
                            <img src="http://localhost:8080/SpringApp/images/building/{{b.id}}.jpg" alt="Edificio" height="200" width="330">
                        <div class="data">
                            <div class="content">
                                <h1 class="title">{{ b.name }}</h1>
                                <p class="text">{{ b.address }}</p>
                                <a href="staff/department/building/{{b.id}}" class="button">Ottieni informazioni</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </ng-container>

    <div class="card_main_container">
            <div style="width:200px; height:300px; padding:140px;">
            <a href="staff/department/add/building">
                <button class="btn btn-default btn-circle" href="staff/department/add/building">+</button>
            </a>
        </div>
    </div>
    </div>
</div>