
<body style="background-color: rgb(226, 231, 236)"><title>Gestisci Dipartimento</title>
<div style="line-height:500%;"><br></div>
<div class="card card-body mb-3 bg-transparent" style="width:70%; padding-top:0cm; margin:0px auto; border-color: lightgrey; box-shadow: 10px 10px 5px #aaaaaa;">
<div class="container">
    <div class="row">
    <ng-container *ngFor="let b of buildings;">
        <div class="card_main_container">
                <div class="example-2 card_main">
                    <div class="wrapper">
                        <img [src]="_DomSanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + b.pic)" alt="Edificio" height="200" width="330">
                        <div class="data">
                            <div class="content">
                                <h1 class="title">{{ b.name }}</h1>
                                <p class="text">{{ b.address }}</p>
                                <a href="staff/department/building/{{b.id}}" class="button">Ottieni informazioni</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </ng-container>

    <div class="card_main_container">
            <div style="width:100px; height:300px; padding:110px;">
            <a href="staff/department/add/building">
                <button class="btn btn-circle" style="text-align: center; border: transparent" href="staff/department/add/building"> + </button>
            </a>
        </div>
    </div>
    </div>
</div>
</div>
</body>