<title>Gestisci aule</title>

<body>

<form style="margin-top:100px; margin-left:10px;" action="">
	<select id="buildings" name="build" #build>
	
      <option value=0>--- Seleziona un edificio ---</option>
      <option *ngFor="let b of buildings" name="box" [value]="b.id">{{ b.name }}</option>
	</select>
  <input type="text" name="name" class="textbox" placeholder="Nome aula" #name>
  <button (click)="searchClassroom(name.value, build.value)">Cerca</button>
</form>
<div *ngIf="valid && (!classes || classes.length === 0)">
    <p>Non ci sono classi.</p>
</div>

<body>       
    <div class="col-md-10">           
        <a id="addRow" class="btn" style="background: #ffa400; border-color: navajowhite;">
            <span class="glyphicon glyphicon-plus"></span> Aggiungi
        </a>            
    </div>
    <br/><br/>
    <div class="col-md-12">
        <table id="elencoProdotti" class="table table-bordered dt-responsive" cellspacing="0" width="100%">                                       
            <thead>
                <tr>
                    <th class="never">#</th>
                    <th style="text-align:center">Nome</th>
                    <th style="text-align:center">Edificio</th>
                    <th style="text-align:center"></th>
                </tr>
            </thead>
            <tbody>  
                <tr *ngFor="let c of classes;let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ c.name }}</td>
                        <td>{{ c.building.name }}</td>
                        <button (click)="dettagli(c.id)" class="btn btn-info">Dettagli</button>
                    </tr>
            </tbody>
        </table>
    </div>
    
                                                            
   

</body>