/* You can add global styles to this file, and also import other style files */
.pac-container {
    z-index: 9999 !important;
  }

  .dx-scheduler-navigator {
    display: none !important
}

.dx-popup-normal {
  display: none !important
}

.dx-scheduler-appointment-popup{
  display: none !important
} 

/*.cal-event, .cal-header {
  white-space: normal !important;
  color: black !important;
  font-size: 15px !important;
}*/

.cal-month-view .cal-day-badge {
  display: none !important
}

.cal-week-view .cal-event {
  font-size: 12px !important;
  color: #000000 !important
}