.container1{
   
    margin-left: 2rem;
}

 .input{
        background-color: transparent;
 }

.jumbotron{
 background-color: transparent;
}

/* Chat containers */
.container {
    border: 2px solid #72727269;
    background-color: #cfedf780;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
    float: right;
    border-color: rgba(138, 138, 138, 0.473);
    background-color: rgba(185, 238, 194, 0.712);
}