.container1{
   
    margin-left: 2rem;
}

 .input{
        background-color: transparent;
 }

.jumbotron{
 background-color: transparent;
}

/* Chat containers */
.light {
    border: 2px solid #72727269;
    background-color: #60acc59c;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
    margin-left: 100px;
    border: 2px solid #72727269;
    float: right;
    border-radius: 5px;
    border-color: rgba(138, 138, 138, 0.473);
    background-color: rgba(46, 46, 46, 0.712);
    padding: 10px;
    margin: 10px 0;
}